/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root{
  --color-main-red : #f00;
  --bg-color : #202020;
  --bg-color-inp : #121212;
  --bg-f2 : #f2f2f2;
  --bg-e5 : #e5e5e5;
  --border-color : #d9d9d9;
  --color-white : #fff;
  --text-white : #fff;
  --text-aaa : #aaa;
  --color-black : #000;
  --text-black : #000;
  --text-color : #030303;
  --text-5f : #5f5f5f;
  --text-60 : #606060;
  --color-21 : #212121;
  --color-38 : #383838;
  --color-31 : #313131;
  --color-30 : #303030;
  --grid-btn : url("../../img/grid-dark.svg");
  --grid-fulled-btn : url("../../img/grid-dark-fulled.svg");
  --c-btn-bg : #313131;
  --mic-bg : #181818;
  --main-border : #414141;
  --notific-text : #808080;
  --mic-icn : url("../../img/mic-dark.svg");
  --search-bg : #313131;
  --channel-bg : url("../../img/channel-dark.svg");
  --dollar-bg: url("../../img/dollar-dark.svg");
  --studio-bg: url("../../img/studio-dark.svg");
  --change-bg: url("../../img/account-dark.svg");
  --exit-bg: url("../../img/exit-dark.svg");
  --light-d-bg: url("../../img/light-dark.svg");
  --lang-bg: url("../../img/lang-dark.svg");
  --region-bg: url("../../img/location-dark.svg");
  --setting-bg: url("../../img/settings-dark.svg");
  --data-bg: url("../../img/data-dark.svg");
  --help-bg: url("../../img/help-dark.svg");
  --send-bg: url("../../img/send-dark.svg");
  --keyb-bg: url("../../img/keyb-dark.svg");
  --home-p: url("../../img/home-dark.svg");
  --navig-p: url("../../img/explore-dark.svg");
  --subs-p: url("../../img/subscription-dark.svg");
  --library-p: url("../../img/library-dark.svg");
  --history-p: url("../../img/history-dark.svg");
  --videos-p: url("../../img/videos-dark.svg");
  --later-p: url("../../img/watch-later-dark.svg");
  --liked-p: url("../../img/liked-dark.svg");
}

.light{
  --bg-color : #fff;
  --text-white : #030303;
  --grid-btn : url("../../img/grid.svg");
  --grid-fulled-btn : url("../../img/grid-fulled.svg");
  --c-btn-bg : #e5e5e5;
  --main-border : #80808075;
  --notific-text : #909090;
  --color-21 : #fff;
  --bg-color-inp : #fff;
  --color-31 : #e5e5e5;
  --mic-icn : url("../../img/mic.svg");
  --mic-bg : #f9f9f9;
  --search-bg : #f8f8f8;
  --color-38 : #f2f2f2;
  --channel-bg : url("../../img/channel.svg");
  --dollar-bg: url("../../img/dollar.svg");
  --studio-bg: url("../../img/studio.svg");
  --change-bg: url("../../img/account.svg");
  --exit-bg: url("../../img/exit.svg");
  --light-d-bg: url("../../img/light.svg");
  --lang-bg: url("../../img/lang.svg");
  --region-bg: url("../../img/location.svg");
  --setting-bg: url("../../img/settings.svg");
  --data-bg: url("../../img/data.svg");
  --help-bg: url("../../img/help.svg");
  --send-bg: url("../../img/send.svg");
  --keyb-bg: url("../../img/keyb.svg");
  --home-p: url("../../img/home.svg");
  --navig-p: url("../../img/explore.svg");
  --subs-p: url("../../img/subscription.svg");
  --library-p: url("../../img/library.svg");
  --history-p: url("../../img/history.svg");
  --videos-p: url("../../img/videos.svg");
  --later-p: url("../../img/watch-later.svg");
  --liked-p: url("../../img/liked.svg");
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-stack;
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border: 0px none transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}