// COLORS
$color-main-red : #f00;
// $bg-color : #fff;
$bg-color : #202020;
$bg-color-inp : #121212;
$bg-f2 : #f2f2f2;
$bg-e5 : #e5e5e5;
$border-color : #d9d9d9;
$color-white : #fff;
$text-white : #fff;
$color-black : #000;
$text-black : #000;
$text-color : #030303;
$text-5f : #5f5f5f;
$text-60 : #606060;


// Container
$width-container: 1440px;
$p-container: 16px;

// FONTS
$font-stack: 'Roboto', sans-serif;