.menu {
  width: 240px;
  height: calc(100vh - 59px);
  background-color: var(--color-21);
  overflow: auto;

  &__item {
    height: 40px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-white);
    cursor: pointer;
    &:hover{
      background-color: var(--color-38);
    };
    &::before{
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      @include bg;
      margin-right: 24px;
    }
  }

  .home-p::before{
    background-image: var(--home-p);
  }
  .navig-p::before{
    background-image: var(--navig-p);
  }
  .subs-p::before{
    background-image: var(--subs-p);
  }
  .library-p::before{
    background-image: var(--library-p);
  }
  .history-p::before{
    background-image: var(--history-p);
  }
  .videos-p::before{
    background-image: var(--videos-p);
  }
  .later-p::before{
    background-image: var(--later-p);
  }
  .liked-p::before{
    background-image: var(--liked-p);
  }
}