.notific {
  width: 480px;
  min-height: calc(100vh - 20px);
  position: absolute;
  top: 0;
  right: 120px;
  background-color: var(--color-21);
  border: 0.5px solid var(--main-border);
  border-top: none;
  display: none;

  &__header {
    padding: 13px;
    padding-top: 18px;
    @include df-b;
    border-bottom: 1px solid #80808075;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: var(--text-white);
  }

  &__btn {
    width: 20px;
    height: 20px;
    @include bg;
    background-image: url("../../img/settings-dark.svg");
    background-color: transparent;
    border: none;
  }

  &__hero {
    height: calc(100vh - 65px);
    opacity: 0.98;
    @include df-c;
    flex-direction: column;
    text-align: center;
  }

  &__icn {
    width: 82px;
    height: 100px;
    display: inline-block;
    @include bg;
    background-image: url("../../img/notf-dark.svg");
    margin-bottom: 30px;
  }

  &__static-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: var(--notific-text);
  }

  &__text {
    max-width: 290px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: var(--notific-text);
  }
}